.example-card {
  background-color: #081049;
  margin: 5px;
  color: cornsilk;
}

.example-header-image {
  background-image: url("../../assets/blog.jpg");
  background-size: cover;
}
.cardUp {
  border: 8px green solid;
}
.cardDown {
  border: 8px red solid;
}
