.example-card {
  max-width: 500px;
  background-color: rgb(235, 240, 242);
  margin: 1rem;
}

.example-header-image {
  background-image: url("../../assets/blog.jpg");
  background-size: cover;
}
.cardUp {
  border: 10px green solid;
}
.cardDown {
  border: 10px red solid;
}
