.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}
.cardUp {
  border: 20px green solid;
}
.cardDown {
  border: 20px red solid;
}
