<div>
  <div class="row">
    <h3>Blogs List</h3>
    <div class="col-6" *ngFor="let blog of blogs; let i = index">
      <mat-card
        class="example-card"
        [ngClass]="{
          cardUp: countUp > countDown,
          cardDown: countUp < countDown
        }"
      >
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>

          <mat-card-subtitle
            ><b>Blog:{{ blog.id }}</b></mat-card-subtitle
          >
          <mat-card-title><b>Title:</b>{{ blog.title }}</mat-card-title>
          <mat-card-subtitle
            ><b>Author:</b> {{ blog.author }}</mat-card-subtitle
          >
        </mat-card-header>
        <mat-card-content>
          <mat-card-subtitle><b>Content:</b></mat-card-subtitle>
          <p>
            {{ blog.content }}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="countUP()">
            <mat-icon style="color: green">thumb_up</mat-icon>
          </button>
          <button mat-button (click)="countDOWN()">
            <mat-icon style="color: red">thumb_down</mat-icon>
          </button>

          <button
            mat-button
            type="button"
            class="btn btn-warning"
            routerLink="/blogDetail/{{ blog.id }}"
          >
            Show Details
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
